server:
  port: 9090

spring:
  datasource:
    url: jdbc:mysql://localhost/graphql_db
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  graphql:
    graphiql:
      enabled: true

security:
  jwt:
    secret: my-super-secret-key-which-is-at-least-32-bytes

flyway:
  enabled: true
  locations: classpath:db/migration

